@inherits LayoutComponentBase
<div class="container-scroller">
    <Banner></Banner>
    <!-- partial:partials/_navbar.html -->
    <Navbar></Navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <Sidebar></Sidebar>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <PageHeader></PageHeader>
                @Body
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <Footer></Footer>
      

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
