@page "/"

<PageTitle>Home</PageTitle>

          
            <div class="row">
               <HomePageWeeklySales></HomePageWeeklySales>
               <HomePageWeeklyOrders></HomePageWeeklyOrders>
               <HomePageVisitorsOnline></HomePageVisitorsOnline>
      
            </div>
            <div class="row">
                <HomePageVisitAndSalesOnline></HomePageVisitAndSalesOnline>
                <HomePageTrafficSources></HomePageTrafficSources>
            </div>
            <div class="row">
         
            </div>
            <div class="row">
                <HomePageRecentUpdates></HomePageRecentUpdates>
            </div>
            <div class="row">
                <HomePageProjectStatus></HomePageProjectStatus>
                <HomePageTodo></HomePageTodo>
            </div>
