<!DOCTYPE html>
<html lang="en">

<head>

    <base href="/" />
    <MetaTag></MetaTag>
    <Styles></Styles>
    
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <HeadOutlet />
</head>
    
<body>


    <Routes />
    <Scripts></Scripts>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
