@inherits LayoutComponentBase
<Sidebar></Sidebar>
<div class="content">
    <Navbar></Navbar>
    <main>
            <Header></Header>

        @Body

    </main>
</div>



<div id="blazor-error-ui">
    خطایی غیر قابل پیش بینی رخ داده است
    <a href="" class="reload">بارگیری دوباره صفحه</a>
    <a class="dismiss">🗙</a>
</div>
