
<div class="bg-dark navbar-dark navbar">
    <div class="container">
        <div class="navbar-brand">
            <img class="text-white" src="\assets\images\icons\camera.png" />
            <strong class="align-middle text-white">Album</strong>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
